<div class="stream-container">
  <div class="left-column">
    <div class="video-section">
      <app-stream-video [channelName]="selectedUser"></app-stream-video>
    </div>
    <div class="stream-management">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="right-column">
    <div class="chat-section">
      <app-stream-chat></app-stream-chat>
    </div>
    <div class="suspicious-messages">
      <app-suspicious-messages></app-suspicious-messages>
    </div>
  </div>
</div>
