:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: var(--app-height);
  box-sizing: border-box;
}

.stream-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 1500px;
  height: var(--app-height);
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  align-items: stretch;
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.video-section {
  max-height: calc(var(--app-height) * 2 / 3);
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section app-stream-video {
  width: 100%;
}

.stream-management {
  max-height: calc(var(--app-height) * 1 / 3);
  flex: 1;
  background: var(--background-color-input);
  border: 1px solid #333;
  border-radius: 8px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-section,
.suspicious-messages {
  background: var(--background-color-input);
  border: 1px solid #333;
  border-radius: 8px;
  box-sizing: border-box;
}

/*todo [TCA-116] jak są wiadomości to chat z jakiegoś powodu się rozszerza bardziej niż video, trzeba się temu przyjrzeć*/
.chat-section {
  max-height: calc(var(--app-height) * (2 / 3));
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
}

.suspicious-messages {
  max-height: calc(var(--app-height) * 1 / 3);
  flex: 1;
}
