<div>
  <div *ngIf="getAppState() === AppState.streamDataNotAvailable; else streamData" class="error-container">
    <div class="error-message">
      No streams available for user
    </div>
  </div>

  <ng-template #streamData>
    <div class="page-container">
      <div class="streams-list">
        <h1>Transmission Analysis</h1>

        <ul>
          <li
            *ngFor="let stream of streams; let i = index"
            (click)="selectStream(stream.stream_id)"
            [class.selected]="stream.stream_id === streamId">
            <div class="stream-item">
              <h3>{{ stream.stream_title }}</h3>
              <p>Date: {{ stream.started_at | date: 'short' }}</p>
              <mat-icon
                class="remove-icon"
                svgIcon="unban"
                (click)="confirmRemoveStream($event, stream.stream_id, i)">close</mat-icon>
            </div>
          </li>
        </ul>

        <div *ngIf="showModal" class="modal-overlay" (click)="closeModal()"></div>
        <div *ngIf="showModal" class="confirmation-modal">
          <p>Are you sure you want to remove this stream and all of metadata?</p>
          <button class="confirm" (click)="removeStream()">Yes</button>
          <button class="cancel" (click)="closeModal()">No</button>
        </div>
      </div>



      <div class="chart-area" *ngIf="selectedStream && getAppState() == AppState.ready">
        <h2>Chart for: {{ selectedStream.stream_title }}</h2>

        <div class="data-keys">
          <h3>Select data:</h3>
          <div class="tag-container">
          <span
            *ngFor="let key of availableDataKeys"
            class="tag"
            [class.selected]="isKeySelected(key)"
            (click)="toggleDataKey(key)"
            [title]="keyDisplayNames[key].tooltip">
            {{ keyDisplayNames[key].displayName || key }}
          </span>
          </div>

        </div>

        <div *ngIf="showAggregationInfo" class="aggregation-section">
          <div class="aggregation-description">
            <p>
              Select the appropriate subgroups for the selected data to obtain more detailed analysis. For example, by
              selecting 'Negative Messages', you can view the subgroups 'Very Negative Messages' and 'Slightly Negative
              Messages'
            </p>
          </div>

          <div class="aggregation-keys-container">
            <div *ngFor="let key of aggregationKeys">
              <div *ngIf="isMainKeySelected(key)" class="aggregation-key">
              <span
                class="aggregation-key-tag"
                [class.selected]="isKeySelectedForAggregation(key)"
                (click)="toggleAggregationKey(key, $event)"
                [title]="keyDisplayNames[key].tooltip">
                {{ keyDisplayNames[key].displayName || key }}
              </span>
              </div>
            </div>
          </div>
        </div>


        <div class="chart-container">
          <canvas
            baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [type]="'line'"
            [options]="chartOptions">
          </canvas>

        </div>
      </div>

      <div class="metadata-loading-container" *ngIf="getAppState() == AppState.metadataLoading">
        <div *ngIf="getAppState() == AppState.metadataLoading" class="loading-inner">
          <div class="spinner"></div>
          <span class="loading-message">Loading, please wait...</span>
        </div>
      </div>

      <div class="metadata-loading-container" *ngIf="getAppState() == AppState.metadataNotAvailable">
        <div *ngIf="getAppState() == AppState.metadataNotAvailable" class="error-message">
          No metadata available for the stream.
        </div>
      </div>

    </div>
  </ng-template>
</div>
