:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

app-search-user,
app-stream-video,
app-stream-chat {
  width: 100%;
  max-width: 720px;
}
