<div class="chat-container">
  <div class="chat-header">
    Suspicious messages
    <div class="tooltip-container">
      <span class="tooltip-icon">ℹ</span>
      <span class="tooltip-text">
        Colors represent negativity levels:<br>
        <span class="tooltip-very-negative">red</span> (very negative),
        <span class="tooltip-negative">orange</span> (negative),
        <span class="tooltip-slightly-negative">yellow</span> (slightly negative).
      </span>
    </div>
  </div>

  <ul #chatList class="chat-list">
    <li
      *ngFor="let message of suspiciousMessages()"
      class="chat-message"
      [ngClass]="getMessageClass(message.nlpClassification)">
      <app-chat-message [message]="message" [showButtons]="!popoutOpen" (removed)="onDeleteMessage($event)" (addVip)="onAddVip($event)"
                        (addMod)="onAddMod($event)" (ban)="onBan($event)" (popoutActive)="popoutActiveHandler($event)">
      </app-chat-message>
    </li>
  </ul>
</div>
