.message-history-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
}

h3 {
  padding-left: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  border-bottom: 3px solid var(--card-color);
  box-shadow: 0 3px 3px -3px black;
}

.search-user-container {
  display: flex;
}

.justify-content {
  justify-content: space-between;
  flex: 0 0 auto;
}
.justify-content:last-child {
  flex: 1;
}

.user-details {
  flex: 1;
}
.user-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}


.actions {
  position: relative;
}
.actions app-mod-action-buttons{
  position: absolute;
  right: 10px;
  top: 2px;
  display: flex;
  gap: 300px;
}

p {
  background-color: var(--list-element-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
}

.badge {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-left: 0.5rem;
}

.badge.streamer {
  background-color: #0f7a00;
}

.badge.mod {
  background-color: #1e90ff;
}

.badge.vip {
  background-color: #ff69b4;
}

.badge.ban, .badge.timeout{
  background-color: #ff0000;
}

.badge.regular {
  background-color: #616161;
}

.action-btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.action-btn {
  border-radius: 15px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

input {
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: white;
  outline: none;
}

.input:disabled {
  cursor: not-allowed;
}

input::placeholder {
  color: var(--placeholder-text-color);
}

.message-history {
  padding: 0 0.8rem;
  max-height: 180px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555555 #333333;
}

.chat-list {
  overflow-y: auto;
  max-height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #555555 #333333;
}

.chat-message:nth-child(odd) {
  background-color: var(--list-element-color);
}

.chat-message:nth-child(even) {
  background-color: var(--second-list-element-color);
}

.chat-list {
  overflow-y: auto;
  max-height: 100%; /* Maksymalna wysokość, aby uniknąć rozciągania */
  list-style: none;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #555555 #333333;
}

.positive .classification-circle {
  background-color: var(--positive-message-color);
}

.slightly-positive .classification-circle {
  background-color: var(--slightly-positive-message-color);
}

.very-positive .classification-circle {
  background-color: var(--very-positive-message-color);
}

.very-negative .classification-circle {
  background-color: var(--very-negative-message-color);
}

.negative .classification-circle {
  background-color: var(--negative-message-color);
}

.slightly-negative .classification-circle {
  background-color: var(--slightly-negative-message-color);
}

.neutral .classification-circle {
  background-color: var(--neutral-message-color);
}

.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chat-text-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.chat-message {
  font-size: 0.8rem;
  padding: 3px;
  border-bottom: 3px solid var(--card-color);
  display: flex;
}

.message-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.classification-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}

.chat-username {
  font-size: 1rem;
  font-weight: 600;
  color: var(--username-color);
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  margin-right: 5px;
  flex-shrink: 0;
}

.chat-text {
  color: #ffffff;
  line-height: 1.4;
  white-space: normal;
  word-break: break-all;
}

.message-counters-container {
  display: flex;
  gap: 1rem;
}

.message-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0.1rem;
  padding: 0 0.1rem;

}

.message-column h4 {
  margin-bottom: 0;
  border-bottom: 2px solid var(--card-color);
  color: white;
  text-align: center;
}

.message-counters {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-counters li {
  background-color: var(--list-element-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 0.65rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  transition: all 0.3s;
}

.positive-column li.very-positive {

}

.positive-column li.positive  {

}

.positive-column li.slightly-positive {

}

.negative-column li.very-negative {

}

.negative-column li.negative {

}

.negative-column li.slightly-negative {
}

.neutral-column li.neutral {
}

.message-counters li.active {
  background-color: #0e5e8b;
}

.message-counters li:hover {
  background-color: #555;
}

.message-counters li.active:hover {
  background-color: #58b4f6;
}

.actions {
  margin-top: 0;
  margin-bottom: 0;
}
