.popout-vip-menu {
  position: fixed;
  transform: translateX(-50%);
  background-color: #2a2a2a;
  border: 1px solid #555;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}

.arrow {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #555;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

.popout-btn {
  display: block;
  width: 100%;
  padding: 8px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--primary-color);
  text-align: center;
}

.popout-btn:hover {
  background-color: var(--primary-color-hover);
}
