<div class="search-container">
  <input [(ngModel)]="username" placeholder="Enter username" class="search-input"/>
  <button [disabled]="loading || username.trim() == previous_username.trim() || username.trim().length == 0 || !this.twitchService.loadingState$" (click)="searchUser()" class="search-button">Connect</button>
</div>

<div *ngIf="loading" class="loading-message">
  <div class="spinner"></div>
  Connecting...
</div>

<div *ngIf="successMessage && !loading" class="success-message">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage  && !loading" class="error-message">
  {{ errorMessage }}
</div>
