<header>
  <a [routerLink]="['/stream-search']"><img alt="App logo" Src="twitch_icon.png" href="App logo"></a>
  <!--  todo dawać dostęp tylko jeśli ktoś jest przynajmniej moderatorem - -->
  <menu *ngIf="authService.isLoggedIn() && twitchService.getTwitchBroadcasterUsername()!=null" class="nav-buttons">
    <button
      (click)="goToStream()"
      [ngClass]="{'active': activeView === 'stream'}">
      Stream
    </button>
    <button
      (click)="goToCharts()"
      [ngClass]="{'active': activeView === 'charts'}">
      Charts
    </button>
  </menu>

  <div *ngIf="authService.isLoggedIn() && twitchService.getTwitchBroadcasterUsername() != null" class="center-button">
    <button [routerLink]="['/stream-search']" class="stream-search-button">
      Watching: <span class="username">{{ twitchService.getTwitchBroadcasterUsername() }}</span>
    </button>
  </div>

  <menu class="auth-buttons">
    <button *ngIf="authService.isLoggedIn()" (click)="goToProfile()">Profile</button> <!-- todo zmienić na jakiś img -->
    <button *ngIf="!authService.isLoggedIn()" (click)="login()">Login</button>
    <button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
  </menu>
</header>
