header {
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: var(--header-height);
}

header img {
  height: 40px;
  width: auto;
  cursor: pointer;
}

menu {
  display: flex;
  align-items: center;
}

.nav-buttons {
  flex: 1;
  display: flex;
  height: var(--header-height);
  align-items: stretch;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
}

menu button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: var(--dark-violet);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.nav-buttons button {
  font-size: 1.5rem;
  font-weight: 500;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.nav-buttons button:hover {
  background-color: var(--background-color);
}

.nav-buttons button.active {
  background-color: var(--background-color);
  font-weight: bold;
}

.auth-buttons button {
  background-color: var(--primary-color);
  color: white;
  margin-left: 10px;
}
