<header>
  <a [routerLink]="['/stream-search']"><mat-icon class="large-icon" svgIcon="logo-white"></mat-icon></a>
  <menu *ngIf="authService.isLoggedIn() && twitchService['state'].broadcasterUsername.getValue() != null" class="nav-buttons">
    <button
      (click)="goToStream()"
      [ngClass]="{'active': activeView === 'stream'}">
      Stream
    </button>
    <button
      *ngIf="twitchService.canAccess(Tab.CHARTS)"
      (click)="goToCharts()"
      [ngClass]="{'active': activeView === 'charts'}">
      Charts
    </button>
  </menu>

  <div *ngIf="authService.isLoggedIn() && twitchService['state'].broadcasterUsername.getValue() != null" class="center-button">
    <button [routerLink]="['/stream-search']" class="stream-search-button">
      Watching: <span class="username">{{ twitchService['state'].broadcasterUsername.getValue() }}</span>
    </button>
  </div>

  <menu class="auth-buttons">
    <button *ngIf="authService.isLoggedIn()" (click)="goToProfile()">Profile</button> <!-- todo zmienić na jakiś img -->
    <button *ngIf="!authService.isLoggedIn()" (click)="login()">Login</button>
    <button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
  </menu>
</header>
