:root {
  --background-color: #1f1f23;
  --card-color: #2c2c30;
  --primary-color: #9147ff;
  --text-color: #e5e5e5;
  --border-radius: 8px;
  --font-family: 'Arial', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
