:root {
  --background-color: #202020;
  --card-color: #2D2D30;
  --background-color-input: #262626;
  --primary-color: #9147ff;
  --dark-violet: #6441A5;
  --primary-color-hover: #5815bd;
  --text-color: #e5e5e5;
  --placeholder-text-color: #aaaaaa;
  --light-grey: #8F8E8E;
  --disabled-color: #444;
  --list-element-color: #39393E;
  --second-list-element-color: #242424;
  --mdc-plain-tooltip-container-color: var(--background-color);
  --username-color: #00ACC1;
  --very-negative-message-color: #8B0000;
  --negative-message-color: #FF4500;
  --slightly-negative-message-color: #FFA500;
  --positive-message-color: #4caf50;
  --slightly-positive-message-color: #8bc34a;
  --very-positive-message-color: #2e7d32;
  --neutral-message-color: #A6A6A6;
  --border-radius: 8px;
  --font-family: 'Arial', sans-serif;
  --header-height: 5.5vh;
  --app-height: calc(100vh - var(--header-height));
  --chat-height: calc(var(--app-height) * 0.495);
  --suspicious-chat-height: calc(var(--app-height) * 0.27);
  --header-z-index: 1000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
