.suspended-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  border-radius: 8px;
  color: white;
}

h3 {
  padding-left: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  border-bottom: 3px solid var(--card-color);
  box-shadow: 0 3px 3px -3px black;
}

ul {
  border-right: 3px solid var(--light-grey);
  list-style: none;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0;
}

input + ul {
  border-right: none;
}

.user-item-timeout {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.02rem 30px 0.02rem 0.5rem;
  background-color: var(--list-element-color);
  border-bottom: 1px solid #444;
  position: relative;
}

.user-item-ban {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.02rem 0.5rem;
  padding-right: 0px;
  background-color: var(--list-element-color);
  border-bottom: 1px solid #444;
  position: relative;
}

app-ban-wrapper

.user-item:nth-child(even) {
  background-color: var(--second-list-element-color);
}

.actions {
  padding-top: 6px;
  display: flex;
}

.action-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.action-icon {
  height: 18px;
  width: 18px;
}

.action-icon:hover {
  color: var(--primary-color)
}

input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: white;
  outline: none;
}

input::placeholder {
  color: var(--placeholder-text-color);
}
