<div class="suspended-container">
  <div class="column">
    <h3>Timeout</h3>
    <ul>
      <li
        *ngFor="let user of suspendedUsers?.timed_out_users"
        class="user-item-timeout"
      >
        <span>{{ user.user_login }}</span>
        <div class="actions">
          <button class="action-btn info-btn" [matTooltip]="'Until: ' + getFormattedDate(user.expires_at)">
            <mat-icon class="action-icon" svgIcon="info"></mat-icon>
          </button>
          <button class="action-btn" matTooltip="Remove timeout" (click)="onRemoveTimeout(user)">
            <mat-icon class="action-icon" svgIcon="unban"></mat-icon>
          </button>
          <app-ban-wrapper [userData]="user" (ban)="banUser($event)">
          </app-ban-wrapper>
        </div>
      </li>
    </ul>
  </div>

  <div class="column">
    <h3>Ban</h3>
    <ul>
      <li *ngFor="let user of suspendedUsers?.banned_users" class="user-item-ban">
        <span>{{ user.user_login }}</span>
        <div class="actions">
          <button class="action-btn" matTooltip="Unban user" (click)="onUnbanUser(user)">
            <mat-icon class="action-icon" svgIcon="unban"></mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="column">
    <h3>Search</h3>
    <input
      type="text"
      placeholder="Type nickname..."
      (input)="onSearch($event)"
      [(ngModel)]="searchQuery"
    />
    <ul>
      <li *ngFor="let user of searchedUsers?.banned_users" class="user-item-ban">
        <span>{{ user.user_login }}</span>
        <div class="actions">
          <button class="action-btn" matTooltip="Unban user" (click)="onUnbanUser(user)">
            <mat-icon class="action-icon" svgIcon="unban"></mat-icon>
          </button>
        </div>
      </li>
      <li *ngFor="let user of searchedUsers?.timed_out_users" class="user-item-timeout">
        <span>{{ user.user_login }}</span>
        <div class="actions">
          <button class="action-btn info-btn" matTooltip="Until: {{ user.expires_at }}">
            <mat-icon class="action-icon" svgIcon="info"></mat-icon>
          </button>
          <button class="action-btn" matTooltip="Remove timeout" (click)="onRemoveTimeout(user)">
            <mat-icon class="action-icon" svgIcon="unban"></mat-icon>
          </button>
          <app-ban-wrapper [userData]="user" (ban)="banUser($event)">
          </app-ban-wrapper>
        </div>
      </li>
    </ul>
  </div>
</div>
