<div class="app-wrapper">
  <div class="card-container">
    <h2 class="card-title">Streamer</h2>
    <input
      [disabled]="loading"
      [(ngModel)]="username"
      (keydown.enter)="searchUser()"
      placeholder="Type streamer nickname..."
      class="input"
    />

    <div *ngIf="successMessage && !loading" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage && !loading" class="error-message">
      {{ errorMessage }}
    </div>

    <button
      [disabled]="isDisabled"
      (click)="searchUser()"
      class="button">
      <div *ngIf="loading; else connectText" class="spinner"></div>
      <ng-template #connectText>Connect</ng-template>
      <span *ngIf="loading">Connecting...</span>
    </button>

  </div>
</div>
