<div class="app-wrapper">
  <div class="card-container">
    <h2 class="card-title">Streamer</h2>
    <input
      [disabled]="loading"
      [(ngModel)]="username"
      placeholder="Type streamer nickname..."
      class="input"
    />

    <div *ngIf="successMessage && !loading" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage && !loading" class="error-message">
      {{ errorMessage }}
    </div>

    <button
      *ngIf="loading; else connectButton"
      (click)="searchUser()"
      [disabled]="true"
      class="button">
      <div class="spinner"></div>
      Connecting...
    </button>
    <ng-template #connectButton>
      <button
        [disabled]="isDisabled"
        (click)="searchUser()"
        class="button">
        Connect
      </button>
    </ng-template>


  </div>
</div>
