:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-container {
  width: 100%;
  max-height: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 8px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-header {
  height: var(--header-height);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  color: var(--text-color);
  background-color: var(--card-color);
  padding: 0.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 20px red;
}

.chat-title {
  color: var(--text-color);
}

.chat-actions {
  display: flex;
  gap: 15px;
}

.menu,
.settings {
  font-size: 1rem;
  color: #cccccc;
  cursor: pointer;
}

.menu:hover,
.settings:hover {
  color: #ffffff;
}

.chat-list {
  flex-grow: 1;
  min-height: var(--chat-height);
  max-height: var(--chat-height);
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #555555 #333333;
}


.chat-message {
  display: flex;
}

.message {
  width: 100%;
}

.chat-message:nth-child(odd) {
  background-color: var(--list-element-color);
}

.chat-message:nth-child(even) {
  background-color: var(--second-list-element-color);
}

.chat-input-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #555555 #333333;
}

.chat-input {
  flex-grow: 1;
  padding: 8px 40px 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--card-color);
  color: var(--text-color);
  font-size: 1rem;
  resize: none;
  overflow-y: auto;
  height: 35px;
}

.chat-input:focus {
  outline: none;
}

.chat-input::placeholder {
  color: var(--placeholder-text-color);
}

.chat-send-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #A6A6A6;
  font-size: 1.5rem;
}

.chat-send-btn:hover {
  color: #6e6e70;
}
